<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>大体积混凝土固化过程温度监控系统</title>

  <!-- Bootstrap core CSS -->
  <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
  </style>

  <!-- Custom styles for this template -->
  <link href="css/dashboard.css" rel="stylesheet">
</head>

<body>

  <%- include ('navBar') %>

    <div class="container-fluid">
      <div class="row">

        <%- include ('sideBar') %>

          <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div
              class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
              <h1 class="h2">温度分布概览</h1>
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                  <button type="button" class="btn btn-sm btn-outline-secondary">分享</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">导出</button>
                </div>
                <div class="dropdown">
                  <button id="showTimeListBtn" type="button" class="btn btn-secondary btn-sm dropdown-toggle"
                    data-bs-toggle="dropdown" aria-expanded="true">
                    实时
                  </button>
                  <ul class="dropdown-menu" aria-labelledby="showTimeListBtn"
                    style="position: absolute; inset: 0px auto auto 0px; margin: 0px; transform: translate3d(0px, 33px, 0px);"
                    data-popper-placement="bottom-start">
                    <li>
                      <h6 class="dropdown-header">时刻</h6>
                    </li>
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                    <li>
                      <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="#">查看更多</a></li>
                  </ul>
                </div>
              </div>
            </div>

            <div class="canvas" style="width: 100%;height: 500px;" id="myChart"></div>

            <h2>常用数据</h2>
            <div class="table-responsive">
              <table id="usefulDataTable" class="table table-striped table-sm"></table>
            </div>
          </main>
      </div>
    </div>


    <div class="modal fade" id="staticBackdropLive" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
      aria-labelledby="staticBackdropLiveLabel" style="display: none;" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLiveLabel">温差过大警告</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p id="tempWarningInfo">I will not close if you click outside me. Don't even try to press escape key.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">关闭</button>
          </div>
        </div>
      </div>
    </div>

    <script src="bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="jquery/jquery.min.js"></script>
    <script src="js/dynamicTable.js"></script>
    <script src="echarts/echarts.min.js"></script>
    <script src="echarts-gl/echarts-gl.min.js"></script>
    <script src="js/mainChart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js"
      integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE"
      crossorigin="anonymous"></script>
</body>

</html>
